{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}


<p>You are logged in as {{ app.user.nom }}</p>

{{ dump(evaluations ) }}




<h1>Liste de toutes les notes des élèves</h1>

<table class="table" border="1">

	<thead>
		<tr>
			<th>Nom</th>
			<th>Matière</th>
            <th>Note</th>
            <th>Commentaire</th>
            
		</tr>
	</thead>
	<tbody>

	{% for evaluation in evaluations %}
	<tr>
		<td>{{ evaluation.eleve }}</td>
		<td>{{ evaluation.cours }}</td>
		<td>{{ evaluation.note }}</td>
		<td>{{ evaluation.commentaire }}</td>
	</tr>

	{% set moyenne_evaluation = 0 %} 
    {% for evaluation in evaluations %}
        {% set moyenne_evaluation =  moyenne_evaluation + evaluation.note  %} 	
	{% endfor %}
		
	{% else %}
		<tr>
			<td colspan="5">Il n'y a pas de notes</td>
		</tr>
	</tbody>
    {% endfor %}
</table>



{% if is_granted('ROLE_PROF') == true %}

<h1>Liste des élèves</h1>

<table class="table" border="1">

	<thead>
		<tr>
			<th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
			<th>Modifier</th>
            
		</tr>
	</thead>
	<tbody>

	{% for user in users %}
	<tr>
        {% for role in user.roles %}
            {% if role == "ROLE_ELEVE" %}
            	<td>
					<a href="{{ path('evaluation-show', {'id': user.id})}}">
						{{user.nom}}
					</a> 
				</td>
            	<td>{{user.prenom}}</td>
            	<td>{{user.classe}}</td>
				<td>
				<a href="{{ path('evaluation_edit', {'id': user.id})}}">
						Modifier
				</a> 
				</td>
				
                {# <td><a href="{{ path('notation_show', {'id': user.id}) }}"> Voir Note </a> </td>   #}
            {% endif %}
		{% endfor %}
	</tr>
        
	{% else %}
		<tr>
			<td colspan="5">Il n'y a pas d'utilisateurs</td>
		</tr>
	</tbody>
    {% endfor %}
</table>

<h1>Ajouter une note</h1>
{{form(ajout)}}


{% endif %}


{% if is_granted('ROLE_ADMIN') == true %}
<h2>Ajouter un cours</h2>
{{ form(ajoutCours) }}           
 {% endif %}







{% endblock %}
