{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}


<p>You are logged in as {{ app.user.nom }}</p>




{% if is_granted('ROLE_PROF') == true %}

<table border="1">

	<thead>
		<tr>
			<th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
            
		</tr>
	</thead>
	<tbody>

	{% for user in users %}
	<tr>
        {% for role in user.roles %}
            {% if role == "ROLE_ELEVE" %}
            	<td>{{user.nom}}</td>
            	<td>{{user.prenom}}</td>
            	<td>{{user.classe}}</td>
            {% endif %}
		{% endfor %}
	</tr>
        
	{% else %}
		<tr>
			<td colspan="5">Il n'y a pas d'utilisateurs</td>
		</tr>
	</tbody>
    {% endfor %}
</table>

<h1>Ajouter une note</h1>
{{form(ajout)}}
{% endif %}


{% if is_granted('ROLE_ADMIN') == true %}
<h2>Ajouter un cours</h2>
{{ form(ajoutCours) }}           
 {% endif %}

{% endblock %}
